///*------------------------------------*\
//    #GLOBAL
//\*------------------------------------*/

/**
 * Enable Inuit modules
 */


/**
 * Measurements and numbers
 */
$inuit-base-font-size:      16px;
$inuit-base-line-height:    24px;
$base-round:                4px;
$base-radius:               $base-round;


/**
 * Fonts
 */
$base-font-stack:           sans-serif;
$alt-font-stack:            serif;
